<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.LcProjectUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.LcProjectUser">
        <id column="ID" property="id" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="USER_ID" property="userId" />
        <result column="JOIN_TIME" property="joinTime" />
        <result column="IS_OWNER" property="isOwner" />
        <result column="IS_DEL" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_ID, USER_ID, JOIN_TIME, IS_OWNER, IS_DEL
    </sql>

</mapper>
