<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.LcProjectTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.LcProjectTemplate">
        <id column="ID" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="PROJECT_TEMPLATE_NAME" property="projectTemplateName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_NAME" property="createName" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_NAME" property="updateName" />
        <result column="IS_DEL" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, COMPANY_ID, PROJECT_TEMPLATE_NAME, CREATE_TIME, CREATE_NAME, UPDATE_TIME, UPDATE_NAME, IS_DEL
    </sql>

</mapper>
