<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.LcProjectTasksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.LcProjectTasks">
        <id column="ID" property="id" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="TASK_NAME" property="taskName" />
        <result column="ACCESSORY" property="accessory" />
        <result column="IS_DEL_ACCESSORY" property="isDelAccessory" />
        <result column="PERFORMER" property="performer" />
        <result column="STATUS" property="status" />
        <result column="REMARKS" property="remarks" />
        <result column="PRIORITY" property="priority" />
        <result column="IS_DEL" property="isDel" />
        <result column="TASK_DATE_START" property="taskDateStart" />
        <result column="TASK_DATE_END" property="taskDateEnd" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_NAME" property="createName" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_NAME" property="updateName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_ID, TASK_NAME, ACCESSORY, IS_DEL_ACCESSORY, PERFORMER, STATUS, REMARKS, PRIORITY, IS_DEL, TASK_DATE_START, TASK_DATE_END, CREATE_TIME, CREATE_NAME, UPDATE_TIME, UPDATE_NAME
    </sql>

</mapper>
