<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.LcProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.LcProject">
        <id column="ID" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="PID" property="pid" />
        <result column="PROJECT_EXPLAIN" property="projectExplain" />
        <result column="UNDERTAKE_PERSON" property="undertakePerson" />
        <result column="PEOJECT_NUM" property="peojectNum" />
        <result column="PROJECT_DATE_START" property="projectDateStart" />
        <result column="PROJECT_DATE_END" property="projectDateEnd" />
        <result column="PROJECT_PLAN_FRACTION" property="projectPlanFraction" />
        <result column="DEMAND_DEPARTMENT" property="demandDepartment" />
        <result column="PROJECT_JPG" property="projectJpg" />
        <result column="CATEGORY_ID" property="categoryId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_NAME" property="createName" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_NAME" property="updateName" />
        <result column="IS_DEL" property="isDel" />
        <result column="IS_PUBLIC" property="isPublic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, COMPANY_ID, PROJECT_NAME, PID, PROJECT_EXPLAIN, UNDERTAKE_PERSON, PEOJECT_NUM, PROJECT_DATE_START, PROJECT_DATE_END, PROJECT_PLAN_FRACTION, DEMAND_DEPARTMENT, PROJECT_JPG, CATEGORY_ID, CREATE_TIME, CREATE_NAME, UPDATE_TIME, UPDATE_NAME, IS_DEL, IS_PUBLIC
    </sql>

</mapper>
