<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.LcProjectTasksTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.LcProjectTasksTemplate">
        <id column="ID" property="id" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="TASKS_LIST_ID" property="tasksListId" />
        <result column="TASK_NAME" property="taskName" />
        <result column="TASK_STATUS" property="taskStatus" />
        <result column="REMARKS" property="remarks" />
        <result column="PRIORITY" property="priority" />
        <result column="IS_DEL" property="isDel" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_NAME" property="createName" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_NAME" property="updateName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_ID, TASKS_LIST_ID, TASK_NAME, TASK_STATUS, REMARKS, PRIORITY, IS_DEL, CREATE_TIME, CREATE_NAME, UPDATE_TIME, UPDATE_NAME
    </sql>

</mapper>
