<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhxd.modular.system.mapper.MtFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yhxd.modular.system.entity.MtFile">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="path_name" property="pathName" />
        <result column="title" property="title" />
        <result column="extension" property="extension" />
        <result column="size" property="size" />
        <result column="object_type" property="objectType" />
        <result column="organization_code" property="organizationCode" />
        <result column="task_code" property="taskCode" />
        <result column="project_code" property="projectCode" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="downloads" property="downloads" />
        <result column="extra" property="extra" />
        <result column="deleted" property="deleted" />
        <result column="file_url" property="fileUrl" />
        <result column="file_type" property="fileType" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, path_name, title, extension, size, object_type, organization_code, task_code, project_code, create_by, create_time, downloads, extra, deleted, file_url, file_type, deleted_time
    </sql>

</mapper>
